<div class="container">
  <div class="rooms">
    <div  *ngFor="let room of data; let i=index">
      <div *ngIf="(i%4)===0">
        <div class="row mt-3">
          <div class="col-md-12">
            <mat-card class="text-center">
             <h4> FLOOR {{room.floor}}</h4>
            </mat-card>
          </div>
        </div>
        
          <div class="row mt-3">
              <div class="col-md-3"  *ngFor="let eachFloorRoom of data; let j=index">
                  <mat-card *ngIf="(eachFloorRoom.floor === room.floor)">
                    <img mat-card-image src={{eachFloorRoom.product_image}} alt="Room Image" width="150px" height="150px">
                    <mat-card-content>
                      <p><b>Room No.:</b>&nbsp; {{eachFloorRoom.room_no}}</p>
                      <p><b>Room Type:</b>&nbsp; {{eachFloorRoom.room_type}}</p>
                      <p><b>Price:</b>&nbsp; {{eachFloorRoom.product_price}}</p>
                      <p><b>Status:</b>&nbsp; {{eachFloorRoom.status}}</p>
                    </mat-card-content>
                  </mat-card>
              </div>
          </div>
      </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>